#mainBody{
    width: 50%;
}
#contentWrapper{
    padding-top : 5rem;
    display : flex;
    /* max-width: 60%; */
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#videoWrapper{
    display: block;
    /* display: block; */
    /* padding : 0 500px */
}

#videoInfoWrapper{
    /* max-width : 50%; */
}

video #videoSource{
    background-size: cover;   
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    /* max-width: 50%; */
    height: auto;
}