#mainBody{
    /* width: 50%; */
}
#contentWrapper{
    padding : 5rem 0 0 0;
    margin : 5rem 0 0 0;
    display : flex;
    /* height : 60rem; */
    /* width : 70rem; */
    /* max-width: 60%; */
    justify-content: center;
    align-items: center;
}

#videoWrapper{
    display: block;
    background-color: black;
}

#videoInfoWrapper{
    align-self: flex-start;
    /* max-width : 50%; */
}

video #videoSource{
    background-size: cover;   
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    background: black;
    /* max-width: 50%; */
    /* height: auto; */
}